        table,th,td {
            border: 1px solid black;
        }
        th{
            height:50px;
            text-align: left;
        }
        td{
            height:50px
        }
        tr:hover{
            background-color: aliceblue;
        }