<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="tstyle.css">
    <link rel="stylesheet" href="styles.css">
</head>

</body>
<h1>
    <a href = "/">Home</a>
    <a href="/addnewtasks">Insert Tasks</a>
    <a href="/deletetask">Delete Task</a>
    <a href="/deletealltask">Delete Completed Tasks</a></br></br>
    <a href="/updatetask">Update Tasks</a>
    <a href ="/getalldev">Get All Developer</a>
    <a href ='/addnewdev'>Insert Developer</a>
</h1></br></br>

<h3>
    <table>
        <tr>
            <th>Task ID</th>
            <th>Task Name</th>
            <th>Task Assign</th>
            <th>Task Data</th>
            <th>Task Status</th>
            <th>Task Description</th>
        </tr>
        <% for ( var i =0; i< taskDb.length;i++){ %>
        <tr>
            <td>
                <%= taskDb[i]._id %>
            </td>
            <td>
                <%= taskDb[i].taskName %>
            </td>
            <td>
                <%= taskDb[i].taskAssign.name.firstName + ' ' + taskDb[i].taskAssign.name.lastName %>
            </td>
            <td>
                <%= taskDb[i].taskDate %>
            </td>
            <td>
                <%= taskDb[i].taskStatus %>
            </td>
            <td>
                <%= taskDb[i].taskDescription %>
            </td>
        </tr>
        <% }%>
</h3>
</body>
</html>