<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>
    <a href="/">Home</a>
    <a href="/addnewtasks">Insert Tasks</a>
    <a href="/getalltasks">Get All Tasks</a>
    <a href="/deletealltask">Delete Completed Tasks</a>
    <a href ="/getalldev">Get All Developer</a>
    <a href ='/addnewdev'>Insert Developer</a>
</h1>
<form action = "/updatetask" method = "POST">
    TaskID <input type = "text"  method = "POST" name = "taskid"/> </br></br>
    New Task Status <input list ="status" method="POST" name="newstat" />
    <datalist id="status">
        <option value="Completed">
        <option value="InProgress">
    </datalist></br></br>
    <input type = "submit" value = "Submit"/>
</form>

</body>
</html>